<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/Sidebar.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <title>AbandonLess</title>
</head>
<body>
    <div class="col-auto min-vh-100">
        <div class="pt-4 pb-1 px-2">
            <a href="#" class="text-black text-decoration-none d-flex align-items-center">
                <img src="{{url_for('static', filename='/Imagens/AbandonLessLogo.png')}}" alt="AbandonLessLogo" class="logo">
            </a>
        </div>
        <hr class="text-white">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="{{url_for('previsaoIndex')}}" class="nav-link text-black" id="link-previsao">
                    <span class="d-none d-sm-inline main">Previsão</span>
                </a>
                <ul class="nav flex-column ms-3 submenu" style="gap: 4px; padding-top: 4px;" id="previsao-menu">
                    <li>
                        <a href="#" class="text-black submenu-item" style="text-decoration: none; font-size: 0.9rem;"
                           onmouseover="this.style.textDecoration='underline'"
                           onmouseout="this.style.textDecoration='none'">
                            <span>Fazer nova Previsão</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% if session["tipo_utilizador"] == "Data Scientist" %}
            <li class="nav-item">
                <a href="{{url_for('modeloIndex')}}" class="nav-link text-black" id="link-modelacao">
                    <span class="d-none d-sm-inline main">Modelação</span>
                </a>
                <ul class="nav flex-column ms-3 submenu" id="modelacao-menu">
                    <li>
                        <a href="{{url_for('novoModeloDS')}}" class="text-black submenu-item"
                        style="text-decoration: none; font-size: 0.9rem;"
                        onmouseover="this.style.textDecoration='underline'"
                        onmouseout="this.style.textDecoration='none'">
                            <span>Criar Novo Modelo</span>
                        </a>
                    </li>
                </ul>
                {% if session["modelo_id"] %}
                <ul class="nav flex-column ms-3 submenu" style="gap: 4px; padding-top: 4px;" id="modelacao-menu2">
                    <li>
                        <a href="#" 
                        class="submenu-item link-eliminar" 
                        style="font-size: 0.9rem;"
                        onclick="event.preventDefault(); confirmDeleteModel({{ session['modelo_id'] }});">
                            <span>Eliminar Modelo</span>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{{url_for('ConjIndex')}}" class="nav-link text-black" id="link-conjuntos">
                    <span class="d-none d-sm-inline main">Conjuntos de Dados</span>
                </a>
                <ul class="nav flex-column ms-3 submenu" style="gap: 4px; padding-top: 4px;" id="conjuntos-menu">
                    <li>
                        <a href="{{ url_for('NovoDataset') }}" class="text-black submenu-item" style="text-decoration: none; font-size: 0.9rem;"
                           onmouseover="this.style.textDecoration='underline'"
                           onmouseout="this.style.textDecoration='none'">
                            <span>Adicionar novo conjunto</span>
                        </a>
                    </li>
                </ul>
                {% if session["dataset_id"] %}
                <ul class="nav flex-column ms-3 submenu" style="gap: 4px; padding-top: 4px;" id="conjuntos-menu2">
                    <li>
                        <a href="#" 
                        class=" submenu-item link-eliminar" 
                        style="font-size: 0.9rem;"
                        onclick="event.preventDefault(); confirmDelete({{ session['dataset_id'] }});">
                            <span>Eliminar Conjunto de Dados</span>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </li>
        </ul>
        <div class="LogOut">
            <img class="iconlog" src="{{url_for('static', filename='/Imagens/icons/logout.png')}}" alt="logout icon">
            <a href="{{ url_for('logout') }}" class="text-black">LogOut</a>
        </div>
    </div>   

    <!-- Modal de Confirmação de Conjunto de Dados -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminação</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          De certeza que deseja eliminar este conjunto de dados? Esta ação não pode ser desfeita.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal de Confirmação de Eliminação de Modelo -->
<div class="modal fade" id="confirmDeleteModelModal" tabindex="-1" aria-labelledby="confirmDeleteModelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModelModalLabel">Confirmar Eliminação do Modelo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          De certeza que deseja eliminar este modelo? Esta ação não pode ser desfeita.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger" id="confirmDeleteModelButton">Eliminar</button>
        </div>
      </div>
    </div>
</div>

  
    
    <!--Script Para controlar os submenos de acordo com a página atual-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let currentPage = "{{ current_page }}";  // Página atual do Flask
        
            document.querySelectorAll('.submenu').forEach(menu => menu.style.display = 'none');
            document.querySelectorAll('.nav-link').forEach(link => link.classList.remove("active"));
        
            // Mostra apenas o submenu da página atual
            if (currentPage === "Previsão") {
                document.getElementById("previsao-menu").style.display = "block";
                document.getElementById("link-previsao").classList.add("active");
            } else if (currentPage === "Modelacao") {
                document.getElementById("modelacao-menu").style.display = "block";
                document.getElementById("link-modelacao").classList.add("active");
            }else if (currentPage === "Modelacao2") {
                document.getElementById("modelacao-menu2").style.display = "block";
                document.getElementById("link-modelacao").classList.add("active");
            } else if (currentPage === "ConjuntosDeDados") { 
                document.getElementById("conjuntos-menu").style.display = "block";
                document.getElementById("link-conjuntos").classList.add("active");
            } else if (currentPage === "ConjuntosDeDados2") { 
                document.getElementById("conjuntos-menu2").style.display = "block";
                document.getElementById("link-conjuntos").classList.add("active");
            }
        });
        </script>

        <!--Script Eliminar-->
        <script>
        let datasetIdParaEliminar = null;    
        function confirmDelete(datasetId) {
                console.log("ID recebido:", datasetId);
                datasetIdParaEliminar = datasetId; 

                const modal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
                modal.show();
            }

            document.addEventListener('DOMContentLoaded', function() {
                const confirmButton = document.getElementById('confirmDeleteButton');
                confirmButton.addEventListener('click', function() {
                    if (datasetIdParaEliminar !== null) {
                        fetch(`/removerConjuntodeDados/${datasetIdParaEliminar}`, { method: "POST" })
                            .then(response => response.json())
                            .then(data => {
                                
                                if (data.success) {
                                    window.location.href = "{{ url_for('ConjIndex') }}"; 
                                }
                            })
                            .catch(error => console.error("Erro:", error));
                    }
                });
            });
        </script>

        <!--Script Eliminar Modelo-->
        <script>
            let modeloIdParaEliminar = null;

            function confirmDeleteModel(modeloId) {
                console.log("ID do Modelo recebido:", modeloId);
                modeloIdParaEliminar = modeloId;

                const modalModel = new bootstrap.Modal(document.getElementById('confirmDeleteModelModal'));
                modalModel.show();
            }

            document.addEventListener('DOMContentLoaded', function() {
                const confirmModelButton = document.getElementById('confirmDeleteModelButton');
                confirmModelButton.addEventListener('click', function() {
                    if (modeloIdParaEliminar !== null) {
                        fetch(`/removerModelo/${modeloIdParaEliminar}`, { method: "POST" })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    window.location.href = "{{ url_for('modeloIndex') }}"; 
                                }
                            })
                            .catch(error => console.error("Erro ao eliminar modelo:", error));
                    }
                });
            });
        </script>



</body>
</html>