.nav-item{
    background-color:transparent;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
}
.nav-link.active {
    background-color: #C8C5C5 !important; /* Fundo laranja */
    color: black !important; 
    border-radius: 10px;
}

.col-auto{
    background-color: #5299E5;
    min-width: 15%;
    max-width: 30%;
    align-items: center;
}

.LogOut {
    position: absolute;
    bottom: 10px;
    left: 10px;  
    padding-left: 10px; 
    font-size:larger;
}

.iconlog{
    max-height: 1.5em;
}

body {
    font-family: 'Montserrat';
}

.icon-size {
    max-height: 4em; 
    width: auto;  
}

.filtro{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.table thead th {
    background-color: #5299E5 !important;
    color: white !important;
    position: sticky;
    top: 0px;
}

.btn{
    background-color: #5299E5 !important;
    border-color: #5299E5;
}

.novaprev{
    position: fixed;
    bottom: 5em;      
}

.table{
    border-collapse: collapse;
}

.table-responsive{
    height: 25em;
    overflow-y: auto;
    
}

.icon{
    max-height: 2em;
    align-self: center;
}

.logo{
    max-width: 80%;
}

.titulo{
    font-size: 2.5em ;
}


.subitem .nav-link{
    background: #5299E5;
    background-color: #5299E5; 
    color: black;
}

.subitem:hover{
    text-decoration: underline;
}

.subitem .nav-link.active {
    background: transparent !important; /* Sem fundo quando ativo */
    color: #5299E5 !important; /* Cor ativa */
    font-weight: bold; /* Destaque quando ativo */
}

.NovoUtilizador {
    color: black;
    text-decoration-color: black;
    font-size: large; 
}

.NovoUtilizador::before {
    content: "•"; /* Ponto antes do texto */
    color: black; /* Cor do ponto */
    font-size: larger; /* Tamanho do ponto */
    margin-right: 5px; /* Espaço entre o ponto e o texto */
}