body {
    font-family: 'Montserrat';
}

.icon-size {
    max-height: 4em; 
    width: auto;  
}

.filtro{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.table thead th {
    background-color: #5299E5 !important;
    color: white !important;
    position: sticky;
    top: 0;
    font-size: 1.2em; /* Reduzir o tamanho da fonte do cabeçalho */
    padding: 2px; /* Ajustar o preenchimento para cabeçalhos mais compactos */
    text-align: center;;
}

.btn{
    background-color: #5299E5 !important;
    border-color: #5299E5;
}

.table{
    border-collapse: collapse;
}

.table-responsive{
    height: 30em; /* Aumentar a altura da tabela visível */
    overflow-y: auto;
}

#btn-filtrar{
    border-color: #D9D9D9;
    min-width: 10em;
    color: white;
}

.titulo{
    font-size: 2.5em;
}

.icon{
    max-height: 2em;
    align-self: center;
}
.table-responsive {
    max-width: 60vw;
    margin: auto; /* Centraliza */
    overflow-x: auto;
}
.filtro {
    background-color: #D9D9D9;
    border-radius: 10px;
    max-width: 60vw;
    padding: 1em;
}

.info-box {
    background-color: white;
    border-radius: 8px;
    padding: 0.5em 0.8em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-weight: 500;
    font-size: 0.95em;
    margin-top: 0.3em;
    white-space: nowrap;;
}