body {
    font-family: 'Montserrat';
}

.icon-size {
    max-height: 4em; 
    width: auto;  
}

.filtro{
    background-color: #D9D9D9;
    border-radius: 10px;
}

.table thead th {
    background-color: #5299E5 !important;
    color: white !important;
    position: sticky;
    top: 0px;
}

.btn{
    background-color: #5299E5 !important;
    border-color: #5299E5;
}


.table{
    border-collapse: collapse;
}

#conteudo-variavel {
    overflow-y: auto;
    min-height: 0;
}

.table-responsive {
    height: auto; /* deixa a tabela ajustar */
    max-height: 100%; /* para não sair da area */
}



#btn-back{
    background-color: #D9D9D9 !important;
    border-color: #D9D9D9;
    min-width: 10em;
}

.col-id {
    width: 10px; /* Pequeno, pois ID é um número */
    text-align: center;
}

.col-ficheiro {
    width: 5%; /* Mais espaço para nomes longos */
}

.col-registos {
    width: 20%; /* Ajustável */
}

.col-data {
    width: 25%; /* Ajustável */
}

.col-botao {
    width: 0px ; /* Mantém o tamanho do botão */
    white-space: nowrap; /* Evita quebra de linha */
}

.selecionar{
    min-width: 13em;
}

input[type="checkbox"] {
    transform: scale(1.5); /* Ajusta o tamanho (1.5x maior) */
    margin-right: 10px; /* Espaço entre a checkbox e o texto */
}

.titulo{
    font-size: 2.5em ;
}

.subtitulo{
    font-size: 1.5em;
}

#form-filtro .form-label {
    white-space: nowrap; /* impede o wrap das labels */
}

#form-filtro .form-control {
    min-width: 150px;
    max-width: 300px; /* ajusta o tamanho mínimo para os inputs */
}
#form-filtro .form-control2 {
    min-width: 20px;
    max-width: 40px; /* ajusta o tamanho mínimo para os inputs */
}

#main-content {
    display: flex;
    flex-direction: column;
}



