.nav-item{
    background-color: #EBEBEB;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    font-size:x-large;
}
.nav-link.active {
    background-color: #C8C5C5 !important; /* Fundo laranja */
    color: black !important; 
    border-radius: 10px;
}
.nav-item:hover{
    background-color: #8d8d8d;
}

.col-auto{
    background-color: #5299E5;
    min-width: 25%;
    align-items: center;
}

.LogOut {
    position: absolute;
    bottom: 10px;
    left: 10px;  
    padding-left: 10px; 
    font-size:larger;
}

.iconlog{
    max-height: 1.5em;
}

body {
    font-family: 'Montserrat';
}

.icon-size {
    max-height: 4em; 
    width: auto;  
}


.btn{
    background-color: #5299E5 !important;
    border-color: #5299E5;
   
}


#ret_utilizador {
    max-width: 70em; /* Ajuste este valor conforme necessário */
    width: 100%;
    background-color: #D9D9D9; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Pequena sombra para destaque */
}

#user-image{
    max-height: 10em;
}

.btn-custom{
    background-color: #FF0000 !important;
    border-color: #FF0000 !important;
    color: white;
}

.btn-primary:hover{
    border-color: #5299E5;
}
.btn-custom:hover{
    color: white;
}

#btn-back{
    background-color: #C8C5C5 !important;
    border-color: #C8C5C5; 
    min-width: 10em;
}